@use "./variables/color" as var;
@use "./placeholders/base";
@use "./placeholders/img";

header {
  position: relative;
}
.nav {
  @extend %base;
  @extend %img;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var.$secundary-bg-color;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: inherit;
  width: 100%;
  height: fit-content;
  padding: 1% 3rem;
  &__logo img {
    width: 2rem;
    opacity: 0.3;
  }
  &__menu {
    cursor: pointer;
    width: fit-content;
    position: absolute;
    height: 100vh;
    top: 30%;
    right: 3rem;
  }
  &__burger {
    position: absolute;
    top: 0;
    right: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 2rem;
    width: 2rem;
    padding: 0.25rem;
    z-index: 10;
    & span {
      background-color: var.$font-color;
      height: 10%;
      display: block;
      &:first-of-type, &:last-of-type {
        width: 100%;
        align-self: start;
      }
      &:nth-of-type(2), &:nth-of-type(3) {
        width: 50%;
        align-self: center;
        opacity: .5;
      }
    }
  }
  &__links {
    z-index: 20;
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: var.$secundary-bg-color;
    padding: 70% 3rem;
    margin-top: -15%;
  
    //desktop:
    max-width: 10rem;
    width: 100%;
    gap: 2rem;
    
  }
  &__link {
    width: 100%;
    display: flex;
    & a {
      text-decoration: none;
      font-size: 1rem;
      color: var.$font-color;
      padding: .5rem;
      border-radius: 10px;
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}
