@use "./variables/color" as var;
@use "./placeholders/base";
@use "./placeholders/img";
@use "./placeholders/buttons";

body {
    @extend %base;
    @extend %img;
    background-color: var.$primary-color;
    margin: 0 auto;
}
.header {
    position: fixed;
}
.mainSection {
    width: 80%;
    margin: 0 auto;
    a {
        max-width: 40%;
        width: 20%;
        display: block;
        margin: 0 auto;
        img {
            width: 100%;
        }
    }
    span {
        margin: 0 auto;
        width: fit-content;
    }
    p {
        width: 50%;
    }

    div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 2rem;
        margin: 2rem 0;
        article {
            grid-row: 1 / 2;
            &:first-of-type {
                justify-self: end;
            }
        }
        a {
            @extend %button;
            grid-area: 2 / 1 / 3 / 3;
        }
    }
}