@use "./variables/color" as var;
@use "./placeholders/base";
@use "./placeholders/img";
@use "./placeholders/buttons";

body {
    @extend %base;
    @extend %img;
    background-color: var.$primary-color;
    margin: 0 auto;
}
.header {
    position: fixed;
}
.mainSection {
    width: 80%;
    margin: 0 auto;
    .logoLink {
        max-width: 40%;
        width: 20%;
        display: block;
        margin: 0 auto;
        img {
            width: 100%;
        }
    }
    span {
        margin: 0 auto;
        width: fit-content;
    }
    p {
        max-width: 50rem;
        width: 100%;
    }

    div {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        grid-template-rows: auto;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        padding: 6rem 0;
        max-width: 50rem;
        width: 100%;
        margin: 0 auto;
        
        & a.btn {
            @extend %button;
            grid-column: 1 / -1;
            justify-self: center;
            margin-top: 3rem;
        }
    }
}